<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p>ジャンル検索欄</p>
      <!--%= render ジャンル検索 %-->
    </div>
    <div>
      <div class="col-md-9">
        <img src="/assets/no_image.jpg" class="card-img" style="width: 700px; height: 450px;">
        <div class="card-img-overlay p-5">
          <div class="card-body bg-light">
            <p>ようこそ、ながのCAKEへ！<br>
               このサイトは、ケーキ販売のECサイトになります。<br>
               会員ではない方も商品の閲覧はできますが、<br>
               購入には会員登録が必要になります。
            </p>
          </div>
        </div>
      </div>
    </div>
    <新商品一覧>
  </div>
</div>