<div class= "container">
  <div class= "row">

    <div class= "col-lg-3 offset-lg-1">
      <h3 class= "bg-light text-center"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
    </div>
  </div>