<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <p>ジャンル検索欄</p>
      <!--%= render ジャンル検索 %-->
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>商品一覧</h1>
      <ul class="list-inline"><!--リスト横並びのクラス-->
            <!--bookers2のインデックス-->
        <!--<1% @books.each do |book| %>-->
        <!--  <tbody>-->
        <!--    <tr>-->
        <!--      <td>-->
        <!--        <1%= link_to user_path(book.user.id) do %>-->
        <!--        <1%= image_tag book.user.get_profile_image(100,100) %>-->
        <!--        <1% end %>-->
        <!--      </td>-->
        <!--      <td>-->
        <!--        <1%= link_to book_path(book.id) do %>-->
        <!--        <1%= book.title %>-->
        <!--        <1% end %>-->
        <!--      </td>-->
        <!--      <td>-->
        <!--        <1%= book.body %>-->
        <!--      </td>-->
        <!--    </tr>-->
        <!--  </tbody>-->
        <!--<1% end %>-->
      </ul>
    </div>
  </div>
</div>
