<div class='container'>
  <div class='row'>
    <div class='col-xl-3 offset-xl-3'>itemのimage</div>
    
    <div class='col-xl-5 offset-xl-1'>
      itemのname
      itemのintroduction
      itemのprice x 消費税率
      個数選択のドロップダウン
      カートに入れるボタン
    </div>